@use 'variables' as *;
@use 'mixins' as *;

.navbar {
  background: $dark-gray;
  padding: 2px 0px !important;

  .container {
    max-width: 1160px;
    padding: 0px;
  }

  &-brand {
    img {
      width: 107px;
    }
  }

  &-nav {
    gap: 37px;

    .nav-link {
      color: $white;
      font-size: 14px;
      font-weight: 300;
      transition: color 0.3s;
      padding: 10px 0px !important;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}

@media (max-width: 1200px) {
  .navbar {
    .container {
      width: 95%;
    }
    &-nav {
      gap: 25px;
    }
  }
}

@media (max-width: 991px) {
  .navbar {
    .container {
      padding: 8px 0px ;
    }
    &-nav {
      gap: 0px;
    }
  }
}
