.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url("../assets/images/main-section/background.svg") center/cover no-repeat;
  height: calc(100vh - 66px);
  max-height: calc(100svh - 66px);
}
.hero__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(237px, auto);
  max-width: 950px;
  width: 100%;
}
.hero__card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.hero__card:hover {
  transform: scale(1.05);
}
.hero__card-title {
  font-size: 23.78px;
  font-weight: 350;
  margin: 0;
}
.hero__card--logo {
  background: #ffffff;
  flex-direction: column;
  padding: 20px;
}
.hero__card-logo {
  width: 177px;
}
.hero__card-tagline {
  font-size: 16.64px;
  margin-top: 17.83px;
  width: 129px;
  text-align: center;
  font-weight: 500;
  color: #343434;
}
.hero__card--services {
  background-image: url("../assets/images/main-section/Services.svg");
}
.hero__card--design {
  background-image: url("../assets/images/main-section/Instructional-Design.svg");
}
.hero__card--development {
  background-image: url("../assets/images/main-section/eLearning-Development.svg");
}
.hero__card--quote {
  background-image: url("../assets/images/main-section/eLearning-Price-Quote.svg");
}
.hero__card--packages {
  background-image: url("../assets/images/main-section/eLearning-Packages.svg");
}
.hero__card--extra {
  background-image: url("../assets/images/main-section/notebook-img.svg");
}
.hero__card--contact {
  background: #3d948e;
  color: white;
  flex-direction: column;
}
.hero__card-icon {
  font-size: 30px;
  margin-bottom: 12px;
}

.stripe {
  max-width: 1175px;
  width: 95%;
  height: 9px;
  background-color: #3d948e;
  margin: 0 auto;
}

/* === Responsive Design === */
@media (max-width: 991px) {
  .hero {
    height: calc(100svh - 74px);
  }
  .hero__grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 90%;
  }
  .hero__grid .hero__card-logo {
    max-width: 130px;
  }
  .hero__grid .hero__card-title {
    font-size: 20px;
    font-weight: 350;
    width: 130px;
  }
  .stripe {
    max-width: 90%;
  }
}
@media (max-width: 768px) {
  .hero {
    height: calc(100vh - 74px);
    max-height: calc(100svh - 74px);
  }
  .hero__grid {
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    grid-auto-rows: 96px;
  }
  .hero__grid__card--contact img {
    height: 19px;
    margin-bottom: 5px;
  }
  .hero__card--logo .hero__card-logo {
    max-width: 150px;
  }
  .hero__card--logo .hero__card-tagline {
    display: none;
  }
  .hero__card--contact img {
    height: 19px;
    margin-bottom: 5px;
  }
}
@media (max-width: 422px) {
  .hero {
    min-height: calc(100svh - 150px);
  }
  .hero__grid {
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    grid-auto-rows: 60px;
  }
  .hero__grid .hero__card--extra {
    display: none;
  }
  .stripe {
    bottom: 60px;
  }
}
.navbar {
  background: #343434;
  padding: 2px 0px !important;
}
.navbar .container {
  max-width: 1160px;
  padding: 0px;
}
.navbar-brand img {
  width: 107px;
}
.navbar-nav {
  gap: 37px;
}
.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  transition: color 0.3s;
  padding: 10px 0px !important;
}
.navbar-nav .nav-link:hover {
  color: #3d948e;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

@media (max-width: 1200px) {
  .navbar .container {
    width: 95%;
  }
  .navbar-nav {
    gap: 25px;
  }
}
@media (max-width: 991px) {
  .navbar .container {
    padding: 8px 0px;
  }
  .navbar-nav {
    gap: 0px;
  }
}
@font-face {
  font-family: "Museo Sans Cyr", sans-serif;
  src: url("../assets/fonts/MuseoSansCyrl300.woff2") format("woff2"), url("../assets/fonts/MuseoSansCyrl300.woff") format("woff"), url("../assets/fonts/MuseoSansCyrl300.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Museo Sans Cyr", sans-serif;
  src: url("../assets/fonts/MuseoSansCyrl500.woff2") format("woff2"), url("../assets/fonts/MuseoSansCyrl500.woff") format("woff"), url("../assets/fonts/MuseoSansCyrl500.ttf") format("truetype");
  font-weight: 500;
}
/* === Reset === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Museo Sans Cyr", sans-serif;
  min-width: 320px;
  background: #ffffff;
}

.services {
  padding: 65px 0px;
  background-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services__container {
  max-width: 1160px;
  width: 100%;
  padding-left: 60px;
  z-index: 2;
  position: relative;
}
.services .services {
  position: relative;
}
.services .services__line-vertical {
  position: absolute;
  left: 0px;
  top: 30px;
  height: calc(100% - 80px);
  width: 3px;
  background-color: #3d948e;
}
.services .services__line-horizontal {
  position: absolute;
  bottom: 0px;
  left: 50px;
  right: 50px;
  height: 3px;
  background-color: #3d948e;
}
.services .services__line-curve {
  position: absolute;
  width: 50px;
  height: 50px;
}
.services .services__line-curve--left {
  bottom: 0px;
  left: 0px;
  border-bottom-left-radius: 20px;
  border-bottom: 3px solid #3d948e;
  border-left: 3px solid #3d948e;
}
.services .services__line-curve--right {
  bottom: -47px;
  right: 0px;
  border-top-right-radius: 20px;
  border-top: 3px solid #3d948e;
  border-right: 3px solid #3d948e;
}
.services .services__line-circle {
  position: absolute;
  left: -11px;
  top: 30px;
  width: 25px;
  height: 25px;
  background-color: #3d948e;
  border-radius: 50%;
}
.services__title {
  font-size: 50px;
  color: #999b9a;
  margin-bottom: 35px;
}
.services__filters {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  margin-bottom: 72px;
  gap: 50px;
}

.filters__search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.filters__search-input {
  width: 300px;
  padding: 11px 45px 11px 20px;
  border-radius: 27.5px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #ebebeb;
}
.filters__search-input:focus {
  background-color: #ebebeb;
}
.filters__search-icon {
  position: absolute;
  right: 20px;
  width: 17px;
  height: 17px;
  pointer-events: none;
}
.filters__type {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.filters__type-text {
  font-size: 16px;
  color: #343434;
}
.filters__type-circle {
  width: 28px;
  height: 28px;
  background-color: #ebebeb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.filters__type-dropdown {
  position: absolute;
  width: 112px;
  height: 28px;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  display: none;
  background-color: #ebebeb;
  border-radius: 14px;
  padding: 0px 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters__type-options {
  display: flex;
  gap: 5px;
}
.filters__type-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
}
.filters__type-color--gray {
  background-color: #d9d9d9;
}
.filters__type-color--gold {
  background-color: #e7d08c;
}
.filters__type-color--teal {
  background-color: #3d948e;
}
.filters__type-color--teal-outline {
  background-color: transparent;
  border: 2px solid #3d948e;
}
.filters__type-color--gray-outline {
  background-color: transparent;
  border: 2px solid #b5b7b6;
}
.filters__type-close {
  display: none;
  position: absolute;
  left: calc(100% + 7px);
  top: 13%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  width: 8px;
  height: 8px;
}
.filters__type-close img {
  width: 100%;
  height: auto;
}
.filters__type.open {
  margin-right: 81px;
}
.filters__type.open .filters__type-close {
  display: block;
}
.filters__type-trigger.hidden {
  opacity: 0;
  pointer-events: none;
}
.filters__type-circle.selected {
  background-color: var(--selected-color, #ebebeb);
}
.filters__occupation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.filters__occupation-text {
  font-size: 16px;
  color: #343434;
}
.filters__occupation-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.filters__occupation-background {
  background-color: #ebebeb;
  padding: 5px 10px;
  width: 54px;
  border-radius: 14.5px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services__list {
  display: flex;
  gap: 97px;
  max-width: 100%;
}

.service {
  width: 202px;
  text-align: start;
}
.service__icon {
  height: 85px;
  margin-bottom: 30px;
}
.service__title {
  font-size: 16px;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  width: 68%;
}
.service__line {
  max-width: 202px;
  border: 2px solid #dcce90;
  margin-bottom: 15px;
}
.service__description {
  font-size: 14px;
  color: #212121;
  margin-bottom: 0;
  word-wrap: break-word;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 83px 0 45px;
  gap: 25px;
}
.pagination__button {
  background: none;
  border: none;
  cursor: pointer;
}
.pagination__button img {
  width: 8px;
  height: 13px;
}
.pagination__numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.pagination__number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #343434;
  position: relative;
  display: none;
  cursor: pointer;
}
.pagination__number--visible {
  display: flex;
}
.pagination__number--hidden {
  display: none;
}
.pagination__number--active {
  opacity: 1;
}
.pagination__number--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  border-radius: 50%;
  z-index: -1;
}

@media (max-width: 1200px) {
  .services__container {
    width: 95%;
  }
  .services__list {
    gap: 30px;
    justify-content: space-between;
  }
  .services__list .service__line {
    width: 180px;
  }
}
@media (max-width: 991.5px) {
  .services {
    padding: 30px 0px;
  }
  .services__line {
    display: none;
  }
  .services__container {
    padding: 0;
  }
  .services__title {
    padding: 30px 0px 35px;
    margin-bottom: 0;
  }
  .services__list {
    justify-content: space-between;
  }
  .services__list .service {
    max-width: 180px;
    min-width: 150px;
  }
  .services__list .service__title {
    width: 130px;
  }
  .services__list .service__line {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .services__title {
    width: 85%;
    margin: 0 auto;
    text-align: center;
  }
  .services__filters {
    flex-direction: column;
    margin-bottom: 35px;
    gap: 20px;
  }
  .services__list {
    justify-content: center;
    flex-wrap: wrap;
  }
  .services__list .service {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: none;
    text-align: center;
  }
  .services__list .service__line {
    width: 250px;
  }
  .services__pagination {
    margin: 40px 0px 20px;
  }
}
@media (max-width: 576px) {
  .service__line {
    max-width: 180px;
  }
}
.cta-section {
  margin-bottom: 55px;
  margin-right: 8.5%;
  position: relative;
}
.cta-section__container {
  display: flex;
  max-width: 1240px;
  position: relative;
}
.cta-section__container-background {
  background: url("../assets/images/cta-section/background.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 565px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 140px;
  border-radius: 10px;
}
.cta-section__line-vertical {
  position: absolute;
  right: -60px;
  top: -20px;
  height: 110%;
  width: 3px;
  background-color: #3d948e;
}
.cta-section__line-horizontal {
  position: absolute;
  bottom: -68px;
  left: 160px;
  right: -10px;
  height: 3px;
  background-color: #3d948e;
}
.cta-section__line-curve {
  position: absolute;
  width: 50px;
  height: 50px;
}
.cta-section__line-curve--left {
  bottom: -115px;
  left: 140px;
  border-top-left-radius: 20px;
  border-top: 3px solid #3d948e;
  border-left: 3px solid #3d948e;
}
.cta-section__line-curve--right {
  bottom: -68px;
  right: -60px;
  border-bottom-right-radius: 20px;
  border-bottom: 3px solid #3d948e;
  border-right: 3px solid #3d948e;
}
.cta-section__line-circle {
  position: absolute;
  right: -71px;
  top: 50%;
  width: 25px;
  height: 25px;
  background-color: #3d948e;
  border-radius: 50%;
}
.cta-section__content {
  max-width: 437px;
}
.cta-section__title {
  font-size: 65px;
  font-weight: 600;
  color: #424242;
  line-height: 1;
  margin-bottom: 9px;
}
.cta-section__subtitle {
  font-size: 35px;
  color: #424242;
  font-weight: 100;
  margin: 0;
  line-height: 1;
  letter-spacing: -2px;
}
.cta-section__button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3d948c;
  color: #fff;
  margin-top: 31px;
  width: 198px;
  height: 50px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding: 15px 40px;
  border-radius: 25px;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}
.cta-section__button:hover {
  background: #2e706a;
}
.cta-section__image {
  position: absolute;
  right: 115px;
  bottom: 0;
  max-width: 311px;
}
.cta-section__man {
  width: 100%;
}
.cta-section__line-big {
  width: 80%;
  max-width: 960px;
  min-width: 320px;
  height: 11px;
  background: #3d948e;
  position: absolute;
  transform: translateX(15%);
}

@media (max-width: 1200px) {
  .cta-section__container {
    width: 95%;
  }
}
@media (max-width: 991.5px) {
  .cta-section {
    padding: 30px 0px;
    width: 100%;
  }
  .cta-section__line {
    display: none;
  }
  .cta-section-background {
    width: 100%;
  }
}
.instructional-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 53px 0px;
  position: relative;
}
.instructional-design__title {
  color: #999b9a;
  font-size: 50px;
  font-weight: 550;
  margin-bottom: 35px;
  text-align: center;
}
.instructional-design__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  max-width: 1160px;
  width: 100%;
}
.instructional-design__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructional-design__image {
  width: 392px;
  height: 392px;
}
.instructional-design__content {
  flex: 1;
  max-width: 600px;
  padding-top: 135px;
}
.instructional-design__heading {
  color: #424242;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.instructional-design__text {
  color: #424242;
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 150%;
}
.instructional-design__list {
  list-style: none;
  padding: 0;
  max-width: 540px;
}
.instructional-design__item {
  display: flex;
  align-items: center;
  color: #424242;
  font-size: 16px;
  margin-bottom: 21px;
}
.instructional-design__icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .instructional-design {
    padding: 15px 0;
  }
  .instructional-design__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1160px;
    width: 100%;
  }
  .instructional-design__image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instructional-design__image {
    width: 250px;
    height: 250px;
  }
  .instructional-design__content {
    padding-top: 0px;
  }
  .instructional-design__text {
    text-align: center;
  }
}
@media (min-width: 320px) {
  .instructional-design {
    padding: 15px 0;
  }
  .instructional-design__container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .instructional-design__image {
    width: 250px;
    height: 250px;
  }
  .instructional-design__heading {
    text-align: center;
  }
  .instructional-design__content {
    padding-top: 0px;
  }
  .instructional-design__text {
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */